{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}
{% load raw %}

{% block title %}Multi-upload de imagens {{ block.super }}{% endblock %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
  <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
  {% if object %}
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ object }}</a> &rsaquo;
     {% trans "Multiupload" %}
  {% else %}
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% trans "Multiupload" %}
  {% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}
<a href="../{%if is_popup %}?pop=1{% endif %}">Voltar</a>

<div id="fileupload">
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fileupload-buttonbar">
            <label class="fileinput-button">
                <span>{% trans 'add files' %}</span>
                <input type="file" name="files[]" multiple>
            </label>
            <button type="submit" class="start">{% trans 'Start' %}</button>
            <button type="reset" class="cancel">{% trans 'Cancel' %}</button>
            <button type="button" class="delete">{% trans 'Delete' %}</button>
        </div>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div id="fileupload-progressbar"></div>
        <div style="text-align: center; font-weight: bold; font-size: 15px;">
            <span id="percent"></span>
        </div>
    </div>
    
</div>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">
              <label>{%=locale.fileupload.titleLabel%}</label>
              <input type="text" name="title" />
              {% if (!o.options.autoUpload) { %}
            <button style="display: none";>
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.start%}</span>
            </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>
{% endraw %}


<script type="text/javascript">
$(function () {
    'use strict';

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      formData: [{ name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"}]
      }).bind('fileuploadsubmit', function (e, data) {
        var inputs = data.context.find(':input');
        if (inputs.filter('[required][value=""]').first().focus().length) {
          return false;
        }
        data.formData = inputs.serializeArray();
      }).bind('fileuploaddestroy', function (e, data) {
        console.log(data);
        $.post(data.url, {});
      });
});
window.locale = {
    "fileupload": {
        "errors": {
            "maxFileSize": "{% trans 'File is too big' %}",
            "minFileSize": "{% trans 'File is too small' %}",
            "acceptFileTypes": "{% trans 'Filetype not allowed' %}",
            "maxNumberOfFiles": "{% trans 'Max number of files exceeded' %}",
            "uploadedBytes": "{% trans 'Uploaded bytes exceed file size' %}",
            "emptyResult": "{% trans 'Empty file upload result' %}"
        },
        "error": "{% trans 'Error' %}",
        "start": "{% trans 'Start' %}",
        "cancel": "{% trans 'Cancel' %}",
        "destroy": "{% trans 'Delete' %}",
        "titleLabel": "{% trans 'Title' %}"
    }
};
</script>

{% endblock %}
